$panmanlila: #e3b1d2;
$panmanyellow: #feff9e;
$panmangreen: #cfffe5;
$panmanblue: #add8e6;
$panmangrey: #d3d3d3;
$panmanblack: #161616;
$panmanlavander: #bbbefe;
$panmanlavandercomplementary: #fefbbb;